{{#if klass}}
<h3 class="text-center py-5">{{klass.name}}</h3>
<div class="w-layout">
    <div class="content-1 d-grid xl:grid-col-4 md:grid-col-2 sm:grid-col-1 gap-3 w-layout m-auto pb-5">
        <div class="item-content d-flex  align-items-center">
            <div class="wrapper-content d-block">
                <div class="description-text">{{element klass.description 0}}</div>
            </div>
        </div>
        <div class="item-content d-flex  align-items-center">
            <div class="wrapper-content d-block">
                <div class="description-text">{{element klass.description 1}}</div>
            </div>
        </div>
        <div class="item-content d-flex  align-items-center">
            <div class="wrapper-content d-block">
                <div class="description-text">{{element klass.description 2}}</div>
            </div>
        </div>
        <div class="item-content d-flex align-items-center">
            <div class="wrapper-content d-block">
                <div class="description-text">{{element klass.description 3}}</div>
            </div>
        </div>
    </div>
    <div class="add_lession_of_class pb-5">
        <a href="/english-course-manager/lession">Thêm bài học</a>
    </div>
    <h3 class="text-center">Danh sách bài học</h3>
    {{#if klass.lessions}}
    <div class="content-2 d-grid xl:grid-col-2 py-5 gap-3">
        {{#each klass.lessions}}
         <div class="item-content d-flex  align-items-center">
            <div class="wrapper-content d-flex justify-content-between w-full">
                <div class="description-text">{{ this.name}}</div>
                <div class="d-flex align-items-center">
                    <a href="/english-course-manager/lession/{{this._id}}/edit">
                    <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><style>svg{fill:#222b3a}</style><path d="M441 58.9L453.1 71c9.4 9.4 9.4 24.6 0 33.9L424 134.1 377.9 88 407 58.9c9.4-9.4 24.6-9.4 33.9 0zM209.8 256.2L344 121.9 390.1 168 255.8 302.2c-2.9 2.9-6.5 5-10.4 6.1l-58.5 16.7 16.7-58.5c1.1-3.9 3.2-7.5 6.1-10.4zM373.1 25L175.8 222.2c-8.7 8.7-15 19.4-18.3 31.1l-28.6 100c-2.4 8.4-.1 17.4 6.1 23.6s15.2 8.5 23.6 6.1l100-28.6c11.8-3.4 22.5-9.7 31.1-18.3L487 138.9c28.1-28.1 28.1-73.7 0-101.8L474.9 25C446.8-3.1 401.2-3.1 373.1 25zM88 64C39.4 64 0 103.4 0 152V424c0 48.6 39.4 88 88 88H360c48.6 0 88-39.4 88-88V312c0-13.3-10.7-24-24-24s-24 10.7-24 24V424c0 22.1-17.9 40-40 40H88c-22.1 0-40-17.9-40-40V152c0-22.1 17.9-40 40-40H200c13.3 0 24-10.7 24-24s-10.7-24-24-24H88z"/></svg>
                    </a>
                    <span class="px-4 btn-del-lession" data-bs-toggle="modal" data-id="{{this._id}}"
              data-bs-target="#deleteCourseModal">
                        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><style>svg{fill:#0b1423}</style><path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"/></svg>
                    </span>
                    </div>
            </div>
        </div>
        {{/each}}
    </div>
    {{else}}
       <div class="text-center pb-5"> Không có dữ liệu . <a href="/english-course-manager/lession">Thêm bài học</a></div>
    {{/if}}
</div>
<!-- Modal -->
<div class="modal fade" id="deleteCourseModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Thông Báo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Bạn có muốn xoá bài học này không?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-del-lession-modal">Xoá</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Huỷ</button>
      </div>
    </div>
  </div>
</div>
{{else}}
{{> error}}
{{/if}}